input, form {
	padding: 0;
	margin: 0;
}

aricle
{
	margin: 0 auto;
}

.reg_cont
{
	width: 300px;
	margin: 0 auto;
}

input
{
	font-family: Arial;
	font-size: 1em;
	width: 200px;
	height: 27px;
	line-height: 25px;
	background-color: rgb(247, 247, 247);
	border-color: rgb(234, 234, 234);
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	padding-left: 10px;
	margin-bottom: 8px;
}

input:last-child
{
	margin-bottom: 0;
}

input.submit
{
	height: 30px;
	width: 213px;
	background-color: rgba(0, 0, 150, 0.2 );
}

input:hover
{
	box-shadow: 0px 0px 5px rgba(74, 203, 162, 0.3);
}

.clear
{
	clear: both;
}

#chats
{
	border: 3px red solid;
	width: auto;
	float: left;
	width: 540px;
	height: 440px;
	margin-left: 30px;
}

.chatbox
{
	position: absolute;
	z-index: 0;
	width: 500px;
	height: 400px;
	overflow: auto;
	background-color: #eee;
	border-radius: 7px;
	margin: 10px;
	padding: 10px;
}

#chat
{
	z-index: 1;
}

.userElement
{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 7px;
}

.userElement:last-child
{
	padding-bottom: 5px;
}

#public
{
	float: left;
	border-radius: 7px;
	padding: 10px;
	margin: 10px;
}

#users
{
	float: left;
	background-color: #eee;
	border-radius: 7px;
	padding: 10px;
	margin: 10px;
}

#chatControls 
{
	clear: both;
	float: left;
}

#wrapper
{
	width: 750px;
}
.reg_cont .clear
{
}
